* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    margin: 0;
    background-color: #f5f6fa;
    color: #2c3e50;
}

button {
    cursor: pointer;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
}

input {
    transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
